*{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
body{
    background-image: url('/icones/fundo.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header{
    border: solid 2px #FFD700;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 3px #000;
    height: 50px;
}
header p{
    font-size: 20px;
    float: left;
    margin: 15px;
}
header h1{
    font-size: 20px;
    margin: 15px;
}
.abrir-caixa{
    margin: 10px;
    width: 20%;
    font-size: 24px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #000;
}
fieldset{
    border: solid 3px #FFD700;
    border-radius: 15px;
}
input{
    width: 100%;
    color: #000;
    background-color: #fff;
}
button{
    font-size: 18px;
    color: #242323;
    background-color: #FFD700;
    border-radius: 15px;
    cursor:pointer;
}
legend{
    border: solid 1px #FFD700;
    border-radius:10px ;
    padding: 10px;
    background-color: #FFD700;
    color: #000;
}
table{
    background-color: black;
    border: solid 1px  #FFD700;
    width: 900px;
}
td{
    border: solid 1px #FFD700;
    padding: 10px;
}
.tabela-caixas{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.tabela-caixas h1{
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px #FFD700;
    box-shadow: 3px 3px 5px #000;
}
.total-faturado{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
h1{
    text-align: center;
}
.tabela-caixas{
    display: block;
}
input.caixa-esp{
    width: 90%;
}
.caixa{
    display: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
    border: solid #FFD700;
    border-radius: 20px;
    padding: 15px;
    background-color: #000;
}
form.data-hora{
    width: 35%;
}
.fechar-caixa{
    width: 35px;
    position: relative;
    left: -20px;
    top: -55px;
    border: solid #FFD700;
    border-radius: 50px;
    background-color: #000;  
    cursor: pointer;  
}
.descricao{
    display: none;
    position: fixed;
    top: 25%;
    left: 13%;
    border: solid #FFD700;
    border-radius: 30px;
    padding: 50px;
    background-color: #000;
}
h4{
    padding: 0;
    margin-top: -80px;
}
.fecharDesc{
    position: relative;
    left: -65px;
    top: 20px;
    border: solid #FFD700;
    width:28px;
    border-radius: 35px;
    font-size: 28px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}