*{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-decoration: none;
}

header{
height: 60px;
border: solid #FFD700;
background-color: rgba(0, 0, 0, 0.8);
}
body{
    background-image: url('/icones/fundo.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.menu{
    width: 50px;
    position: relative;
    left: 85%;
    top: -70px;
}
.logo{
    width: 50px; 
    position: relative;
    left: 45%;
    top: -10px;
}
.main{
    width: 60%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

fieldset{
    width: 92%;
    border: solid #FFD700;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
legend{
    background-color: #FFD700;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    color: #000;
}
.Opcoes{
    border: solid #FFD700;
    float: left;
    width: 21%;
    height: 100px;
    border-radius:10px ;
    font-size: 30px;
    text-align: center;
    padding-top:60px;
    margin: 30px 10px 10px 10px;
    cursor: pointer;
}
.mesa{
    border: solid;
    float: left;
    width: 22%;
    height: 100px;
    border-radius:10px ;
    font-size: 30px;
    text-align: center;
    padding-top:60px;
    margin: 70px 10px 10px 10px;
    cursor: pointer;
}
.caixa{
    border: solid;
    float: left;
    width: 22%;
    height: 100px;
    border-radius:10px ;
    font-size: 30px;
    text-align: center;
    padding-top:60px;
    margin: 70px 10px 10px 10px;
    cursor: pointer;
}
.entrega{
    border: solid;
    float: left;
    width: 23%;
    height: 100px;
    border-radius:10px ;
    font-size: 30px;
    text-align: center;
    padding-top:60px;
    margin: 70px 10px 10px 10px;
    cursor: pointer;
}
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Tamanho de fonte maior para telas menores */
    }
    .Opcoes{
        border: solid #FFD700;
        width: 90%;
        height: 50px;
        border-radius:10px ;
        font-size: 30px;
        text-align: center;
        padding-top:30px;
        margin: 30px 10px 10px 10px;
        cursor: pointer;
    }
    .main{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 15px;
    }
    .menu{
        width: 50px;
        position: relative;
        left: 42%;
        top: -70px;
    }
    .logo{
        width: 50px; 
        position: relative;
        left: 5%;
        top: -10px;
    }

}